<mat-form-field class="example-chip-list full-width">
    <mat-label>Habilidades</mat-label>
    <mat-chip-grid #chipList aria-label="Habilidades">
        <mat-chip-row *ngFor="let skill of skills" [removable]="true" (removed)="removeSkill(skill)">
            {{ skill }}
            <button matChipRemove aria-label="Eliminar habilidad">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
        <input placeholder="Nueva habilidad..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="[13, 188]"
            (matChipInputTokenEnd)="addSkill($event)" />
    </mat-chip-grid>
</mat-form-field>