.task-container {
    margin: 20px auto;
    padding: 1rem;
    max-width: 90%;
}

.mat-table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

table {
    width: 100%;
}

.mat-paginator {
    margin-top: 20px;
}

.icon-button {
    border: none;
    background: none; 
    color: inherit;
    margin-right: 8px;
    transition: box-shadow 0.2s;
}

.icon-button:last-child {
    margin-right: 0; 
}

.icon-button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}